*{
    margin: 0;
}

body{
    background-color: rgb(66, 66, 66);
    color: azure;
}

main{
    margin: auto;
    width: 80vw;
}

.section-pelicula{
    width: 50%;
    margin: 25px auto;
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 15px;
    padding: 20px;
}

article{
    width: 80%;
    margin: 15px auto;
    background-color: rgb(92, 92, 92);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.349);
}

figure{
    margin: 15px 0;
    width: 100%;
}

img{
    display: block;
    margin: 0;
    width: 100%;
    border-radius: 5px;
}

h2, h3{
    display: block;
    text-align: center;
    width: 100%;
}

p{
    text-align: center;
}

table{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.336);
    text-align: center;
    border-radius: 5px;
}

th{
    border-bottom: 1px solid wheat;
}

.div-trailer{
    background-color: rgba(46, 46, 46, 0.74);
    width: 100%;
    height: 315px;
    display: flex;
    align-items: center;
}

iframe{
    width: 100%;
    height: 225px;
}